<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyz.minio.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yyz.minio.pojo.MediaFiles">
        <id column="id" property="id"/>
        <result column="filename" property="filename"/>
        <result column="file_type" property="fileType"/>
        <result column="bucket" property="bucket"/>
        <result column="file_path" property="filePath"/>
        <result column="url" property="url"/>
        <result column="create_date" property="createDate"/>
        <result column="file_size" property="fileSize"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , filename, file_type, bucket, file_path, url, create_date, file_size
    </sql>

</mapper>
